<!-- HTML pour la liste des objets -->
<h1 class="title1"><strong>Liste des objets souhaitant échanger</strong></h1>

<br><br>
<div class="centered-container">
  <div class="cards-container">
    <!-- Section des objets de l'utilisateur -->
    <div class="column">
      <div class="row">
        <div *ngFor="let objet of echanges" class="col-md-6">
          <div class="example-card">
            <mat-card class="card-background">
              <mat-card-content>
                <div class="card-content">
                  <div class="card-half">
                    <h3 class="section-title">Mon objet:</h3>
                    <h2 class="title_2">{{ objet.objet_proposant.titre }}</h2>
                    <p>Utilisateur proposant: <span class="title_2">{{ objet.utilisateur_proposant_id.nom }}</span></p>
                    <p>Position sur la carte: <span class="title_2">{{ objet.utilisateur_proposant_id.position.coordinates }}</span></p>
                    <p>Titre :<span class="title_2">{{ objet.objet_proposant.titre }}</span></p>
                    <p>Etat :<span class="title_2">{{ objet.objet_proposant.etat }}</span></p>
                    <p>Image: </p>
                    <img [src]="objet.objet_proposant.image_url" alt="Image de l'objet" class="object-image">
                  </div>
                  <div class="card-half">
                    <h3 class="section-title">L'objet choisi:</h3>
                    <h2 class="title_2">{{ objet.objet_acceptant.titre }}</h2>
                    <p>Utilisateur acceptant: <span class="title_2">{{ objet.utilisateur_acceptant_id.nom }}</span></p>
                    <p>Position sur la carte: <span class="title_2">{{ objet.utilisateur_acceptant_id.position.coordinates }}</span></p>
                    <p>Titre :<span class="title_2">{{ objet.objet_acceptant.titre }}</span></p>
                    <p>Etat :<span class="title_2">{{ objet.objet_acceptant.etat }}</span></p>
                    <p>Image: </p>
                    <img [src]="objet.objet_acceptant.image_url" alt="Image de l'objet" class="object-image">
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions class="bt-action">
                <button mat-flat-button color="primary" (click)="updateEchange(objet._id)">Mettre à jour</button>
                <button mat-flat-button color="accent" (click)="setPendingStatus(objet._id)">Valider le souhait</button>
                <button mat-flat-button color="warn" (click)="openConfirmDialog(objet._id)">Supprimer</button>
                <button mat-flat-button color="primary" (click)="openMapDialog(objet)">Voir sur la carte</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
