<h1 class="title1"><strong>Liste des objets de l'utilisateur {{ user.prenom }}</strong></h1>
<h2>Sélectionnez le(s) objet(s) que vous souhaitiez échanger</h2>
<br><br>
<form [formGroup]="objetForm" (ngSubmit)="rechercheSimple()">
  <mat-form-field appearance="outline">
    <mat-label>Titre de l'objet</mat-label>
    <input matInput formControlName="nom" placeholder="titre de l'objet">
  </mat-form-field>
  <button mat-flat-button color="primary" class="full-width">Rechercher</button>
</form>

<div class="cards-container">
  <!-- Section des objets de l'utilisateur -->
  <div class="column">
    <h2>Mes objets</h2>
    <div class="row">
      <div *ngFor="let objet of objetsUser" class="col-md-6">
        <div class="example-card">
          <mat-card [routerLink]="['/DetailObjet', objet._id]" class="card-background">
            <mat-card-content>
              <h2 class="title_2">{{ objet.titre }}</h2>
              <p>Utilisateur : <span class="title_2">{{ objet.utilisateur_prenom }}</span></p>
              <p>Description :<span class="title_2">{{ objet.description }}</span></p>
              <p>Statut : <span class="title_2">{{ objet.statut }}</span></p>
              <p>État : <span class="title_2">{{ objet.etat }}</span></p>
              <p class="item-value">Valeur estimée : {{ objet.valeur_estimee }} Ariary</p>
              <p>Image: </p>
              <img [src]="objet.image_url" alt="Image de l'objet" class="object-image">
              <div class="button-container">
                <button mat-flat-button color="primary" [routerLink]="['/demandeEchange', objet._id]">
                  <i class="material-icons">check</i> Sélectionner cet objet
                </button>
              </div>
            </mat-card-content>
            <mat-card-actions class="bt-action">
              <button mat-flat-button color="primary" [routerLink]="['/update', objet._id]">Mettre à jour</button>
              <button mat-flat-button color="warn" (click)="deleteObjet(objet._id)">Supprimer</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

  <!-- Section des objets des autres utilisateurs -->
  <div class="column">
    <h2>Objets des autres utilisateurs</h2>
    <div class="row">
      <div *ngFor="let objet of objetsAll" class="col-md-6">
        <div class="example-card">
          <mat-card [routerLink]="['/DetailObjet', objet._id]" class="card-background">
            <mat-card-content>
              <h2 class="title_2">{{ objet.titre }}</h2>
              <p>Utilisateur : <span class="title_2">{{ objet.utilisateur_prenom }}</span></p>
              <p>Description :<span class="title_2">{{ objet.description }}</span></p>
              <p>Statut : <span class="title_2">{{ objet.statut }}</span></p>
              <p>État : <span class="title_2">{{ objet.etat }}</span></p>
              <p class="item-value">Valeur estimée : {{ objet.valeur_estimee }} Ariary</p>
              <p>Image: </p>
              <img [src]="objet.image_url" alt="Image de l'objet" class="object-image">
              <div class="button-container">
                <button mat-flat-button color="primary" [routerLink]="['/demandeEchange', objet._id]">
                  <i class="material-icons">check</i> Sélectionner cet objet
                </button>
              </div>
            </mat-card-content>
            <mat-card-actions class="bt-action">
              <button mat-flat-button color="primary" [routerLink]="['/update', objet._id]">Mettre à jour</button>
              <button mat-flat-button color="warn" (click)="deleteObjet(objet._id)">Supprimer</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
