.card {
  width: 120%;
  max-width: 700px;
  height: 650px;
  padding: 50px;
  box-shadow: 0 0 20px rgba(89, 15, 138, 0.3), 0 10px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.connect-btn {
  transition: background-color 0.3s;
}

.connect-btn:hover {
  background-color: black;
}

.custom-color-btn {
  background-color: rgb(89, 15, 138);
  border-color: rgb(89, 15, 138);
  color: #ffffff;
}

.forgot-password-link {
  color: rgb(89, 15, 138);
}
