<div class="container-fluid">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-6">
      <mat-card>
        <mat-card-header>
          <div class="mat-card-avatar">
            <img src="./assets/img/logo1.png" alt="Logo" class="img-fluid" style="max-width: 200px;">
          </div>
          <mat-card-title class="text-center">Inscription</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form (ngSubmit)="inscription()">
            <mat-form-field appearance="fill" class="full-width mb-3">
              <mat-label>Nom</mat-label>
              <input matInput type="text" id="nom" name="nom" [(ngModel)]="nom" placeholder="Votre nom" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width mb-3">
              <mat-label>Prénom</mat-label>
              <input matInput type="text" id="prenom" name="prenom" [(ngModel)]="prenom" placeholder="Votre prénom" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width mb-3">
              <mat-label>Email</mat-label>
              <input matInput type="email" id="email" name="email" [(ngModel)]="email" placeholder="Votre adresse email" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full-width mb-3">
              <mat-label>Mot de passe</mat-label>
              <input matInput type="password" id="password" name="password" [(ngModel)]="mot_de_passe" placeholder="Votre mot de passe" required>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" class="full-width">S'inscrire</button>
          </form>
          <div *ngIf="inscriptionError" class="alert alert-danger mt-3" role="alert">
            {{ inscriptionError }}
          </div>
        </mat-card-content>
        <mat-card-footer class="text-center">
          <a href="signin" class="forgot-password-link">Se connecter</a>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
